## Imports

In [86]:
import json
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import hashlib
import re

## Loading

In [87]:
# ── Config ─────────────────────────────────────────────────────────────────────
INPUT_PATH  = '/Users/guill/Library/CloudStorage/OneDrive-NovaSBE/Cours Nova/' \
              'T3/Data Ecosystems and Governance/DG project/raw_credit_applications.json'
OUTPUT_PATH = os.path.join(os.path.dirname(INPUT_PATH), 'raw_credit_applications.csv')

# ── Load ───────────────────────────────────────────────────────────────────────
if not os.path.exists(INPUT_PATH):
    raise FileNotFoundError(f"JSON file not found: {INPUT_PATH}")

with open(INPUT_PATH, 'r', encoding='utf-8') as f:
    try:
        data = json.load(f)
    except json.JSONDecodeError as e:
        raise ValueError(f"Invalid JSON: {e}")

if isinstance(data, dict):
    list_keys = [k for k, v in data.items() if isinstance(v, list)]
    data = data[list_keys[0]] if list_keys else [data]

## Export to CSV

In [88]:
# ── Build rows ─────────────────────────────────────────────────────────────────
rows = []
for record in data:

    # 1. applicant_info
    ai = record.get('applicant_info', {})
    full_name  = ai.get('full_name', '')
    name_parts = full_name.strip().split(None, 1)
    applicant_info = {
        'applicant_info_id'         : record.get('_id'),
        'applicant_info_full_name'  : full_name,
        'applicant_info_first_name' : name_parts[0] if len(name_parts) > 0 else '',
        'applicant_info_last_name'  : name_parts[1] if len(name_parts) > 1 else '',
        'applicant_info_email'      : ai.get('email'),
        'applicant_info_ssn'        : ai.get('ssn'),
        'applicant_info_ip_address' : ai.get('ip_address'),
        'applicant_info_gender'     : ai.get('gender'),
        'applicant_info_dob'        : ai.get('date_of_birth'),
        'applicant_info_zip_code'   : ai.get('zip_code'),
    }

    # 2. financials
    fin = record.get('financials', {})
    financials = {
        'financials_annual_income'         : fin.get('annual_income'),
        'financials_credit_history_months' : fin.get('credit_history_months'),
        'financials_debt_to_income'        : fin.get('debt_to_income'),
        'financials_savings_balance'       : fin.get('savings_balance'),
    }

    # 3. spending_behavior — one column per category
    spending_raw = record.get('spending_behavior', [])
    spending = {
        f'spending_behavior_{s["category"].lower().replace(" ", "_")}': s['amount']
        for s in spending_raw
    }

    # 4. decision
    dec = record.get('decision', {})
    decision = {
        'decision_loan_approved'    : dec.get('loan_approved'),
        'decision_rejection_reason' : dec.get('rejection_reason'),
        'decision_interest_rate'    : dec.get('interest_rate'),
        'decision_approved_amount'  : dec.get('approved_amount'),
        'decision_loan_purpose'     : record.get('loan_purpose'),
        'decision_notes'            : record.get('notes'),
    }

    # 5. processing_timestamp
    timestamp = {
        'processing_timestamp': record.get('processing_timestamp'),
    }

    rows.append({**applicant_info, **financials, **spending, **decision, **timestamp})

# ── Build DataFrame & enforce column order ─────────────────────────────────────
df = pd.DataFrame(rows)

spending_cols = sorted([c for c in df.columns if c.startswith('spending_behavior_')])
other_cols    = [c for c in df.columns if not c.startswith('spending_behavior_')]

def cols_starting(prefix):
    return [c for c in other_cols if c.startswith(prefix)]

ordered_cols = (
    cols_starting('applicant_info_')
    + cols_starting('financials_')
    + spending_cols
    + cols_starting('decision_')
    + cols_starting('processing_timestamp')
)

df = df[ordered_cols]

# ── Export ─────────────────────────────────────────────────────────────────────
df.to_csv(OUTPUT_PATH, index=False, encoding='utf-8-sig')  # utf-8-sig for Excel compatibility
print(f"✓ Saved {len(df)} rows × {len(df.columns)} columns to {OUTPUT_PATH}")

✓ Saved 502 rows × 36 columns to /Users/guill/Library/CloudStorage/OneDrive-NovaSBE/Cours Nova/T3/Data Ecosystems and Governance/DG project/raw_credit_applications.csv

## Understanding the dataset

In [89]:
df = pd.read_csv("/Users/guill/Library/CloudStorage/OneDrive-NovaSBE/Cours Nova/T3/Data Ecosystems and Governance/DG project/raw_credit_applications.csv")

print("Shape:", df.shape)
display(df.head())

Shape: (502, 36)

,applicant_info_id,applicant_info_full_name,applicant_info_first_name,applicant_info_last_name,applicant_info_email,applicant_info_ssn,applicant_info_ip_address,applicant_info_gender,applicant_info_dob,applicant_info_zip_code,...,spending_behavior_transportation,spending_behavior_travel,spending_behavior_utilities,decision_loan_approved,decision_rejection_reason,decision_interest_rate,decision_approved_amount,decision_loan_purpose,decision_notes,processing_timestamp
0,app_200,Jerry Smith,Jerry,Smith,jerry.smith17@hotmail.com,596-64-4340,192.168.48.155,Male,2001-03-09,10036.0,...,NaN,NaN,NaN,False,algorithm_risk_score,NaN,NaN,NaN,NaN,2024-01-15T00:00:00Z
1,app_037,Brandon Walker,Brandon,Walker,brandon.walker2@yahoo.com,425-69-4784,10.1.102.112,M,1992-03-31,10032.0,...,NaN,NaN,NaN,False,algorithm_risk_score,NaN,NaN,NaN,NaN,NaN
2,app_215,Scott Moore,Scott,Moore,scott.moore94@mail.com,370-78-5178,10.240.193.250,Male,1989-10-24,10075.0,...,NaN,NaN,NaN,True,NaN,3.7,59000.0,vacation,NaN,NaN
3,app_024,Thomas Lee,Thomas,Lee,thomas.lee6@protonmail.com,194-35-1833,192.168.175.67,Male,1983-04-25,10077.0,...,NaN,NaN,NaN,True,NaN,4.3,34000.0,NaN,NaN,NaN
4,app_184,Brian Rodriguez,Brian,Rodriguez,brian.rodriguez86@aol.com,480-41-2475,172.29.125.105,M,1999-05-21,10080.0,...,NaN,NaN,NaN,False,algorithm_risk_score,NaN,NaN,NaN,NaN,2024-01-15T00:00:00Z

In [90]:
print("\nDataFrame Information:")
df.info()

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   applicant_info_id                      502 non-null    object
 1   applicant_info_full_name               502 non-null    object
 2   applicant_info_first_name              502 non-null    object
 3   applicant_info_last_name               502 non-null    object
 4   applicant_info_email                   495 non-null    object
 5   applicant_info_ssn                     497 non-null    object
 6   applicant_info_ip_address              497 non-null    object
 7   applicant_info_gender                  499 non-null    object
 8   applicant_info_dob                     497 non-null    object
 9   applicant_info_zip_code                500 non-null    float64
 10  financials_annual_income               497 non-null    float64
 11  financials_credit_history_months       502 non-null    int64
 12  financials_debt_to_income              502 non-null    float64
 13  financials_savings_balance             502 non-null    int64
 14  spending_behavior_adult_entertainment  5 non-null      float64
 15  spending_behavior_alcohol              11 non-null     float64
 16  spending_behavior_dining               66 non-null     float64
 17  spending_behavior_education            64 non-null     float64
 18  spending_behavior_entertainment        72 non-null     float64
 19  spending_behavior_fitness              71 non-null     float64
 20  spending_behavior_gambling             7 non-null      float64
 21  spending_behavior_groceries            65 non-null     float64
 22  spending_behavior_healthcare           68 non-null     float64
 23  spending_behavior_insurance            68 non-null     float64
 24  spending_behavior_rent                 59 non-null     float64
 25  spending_behavior_shopping             54 non-null     float64
 26  spending_behavior_transportation       61 non-null     float64
 27  spending_behavior_travel               80 non-null     float64
 28  spending_behavior_utilities            76 non-null     float64
 29  decision_loan_approved                 502 non-null    bool
 30  decision_rejection_reason              210 non-null    object
 31  decision_interest_rate                 292 non-null    float64
 32  decision_approved_amount               292 non-null    float64
 33  decision_loan_purpose                  50 non-null     object
 34  decision_notes                         2 non-null      object
 35  processing_timestamp                   62 non-null     object
dtypes: bool(1), float64(20), int64(2), object(13)
memory usage: 137.9+ KB

In [91]:
print("\nDescriptive Statistics for Numerical Columns Before Cleaning:")
print(df.describe())

print("\nDescriptive Statistics for Non-Numerical Columns Before Cleaning:")
print(df.describe(include='object'))

Descriptive Statistics for Numerical Columns Before Cleaning:
       applicant_info_zip_code  financials_annual_income  \
count               500.000000                497.000000
mean              47660.026000              82705.096155
std               39517.972093              28101.977862
min               10001.000000                  0.000000
25%               10048.000000              63000.000000
50%               10097.500000              81000.000000
75%               90244.000000             101000.000000
max               90299.000000             171000.000000

       financials_credit_history_months  financials_debt_to_income  \
count                        502.000000                 502.000000
mean                          50.402390                   0.246195
std                           31.234824                   0.136296
min                          -10.000000                   0.050000
25%                           27.250000                   0.150000
50%                           48.000000                   0.230000
75%                           72.000000                   0.350000
max                          133.000000                   1.850000

       financials_savings_balance  spending_behavior_adult_entertainment  \
count                  502.000000                               5.000000
mean                 29493.503984                             591.200000
std                  16775.309756                             200.966913
min                  -5000.000000                             322.000000
25%                  17258.250000                             497.000000
50%                  27385.500000                             579.000000
75%                  38251.500000                             710.000000
max                  88078.000000                             848.000000

       spending_behavior_alcohol  spending_behavior_dining  \
count                  11.000000                 66.000000
mean                  477.090909                472.787879
std                   221.196046                237.168198
min                   194.000000                 75.000000
25%                   247.000000                266.000000
50%                   447.000000                462.000000
75%                   672.000000                650.250000
max                   757.000000                897.000000

       spending_behavior_education  spending_behavior_entertainment  ...  \
count                    64.000000                        72.000000  ...
mean                    499.656250                       496.013889  ...
std                     255.760008                       240.582479  ...
min                      54.000000                        52.000000  ...
25%                     268.750000                       291.250000  ...
50%                     528.000000                       489.000000  ...
75%                     713.750000                       715.750000  ...
max                     889.000000                       883.000000  ...

       spending_behavior_groceries  spending_behavior_healthcare  \
count                    65.000000                     68.000000
mean                    487.815385                    451.367647
std                     242.465841                    250.460049
min                     112.000000                     51.000000
25%                     254.000000                    232.500000
50%                     503.000000                    464.000000
75%                     691.000000                    603.500000
max                     885.000000                    897.000000

       spending_behavior_insurance  spending_behavior_rent  \
count                    68.000000               59.000000
mean                    473.176471              523.559322
std                     230.782442              236.866634
min                      54.000000               81.000000
25%                     310.750000              323.500000
50%                     503.000000              526.000000
75%                     671.500000              705.500000
max                     890.000000              897.000000

       spending_behavior_shopping  spending_behavior_transportation  \
count                    54.00000                         61.000000
mean                    456.37037                        439.032787
std                     234.72853                        241.350435
min                      73.00000                         52.000000
25%                     269.50000                        288.000000
50%                     443.00000                        385.000000
75%                     648.50000                        663.000000
max                     887.00000                        899.000000

       spending_behavior_travel  spending_behavior_utilities  \
count                 80.000000                    76.000000
mean                 493.400000                   498.605263
std                  250.949014                   246.217036
min                   54.000000                    62.000000
25%                  255.000000                   295.750000
50%                  532.000000                   494.500000
75%                  703.500000                   729.750000
max                  888.000000                   881.000000

       decision_interest_rate  decision_approved_amount
count              292.000000                292.000000
mean                 4.564726              47845.890411
std                  1.162866              18103.754530
min                  2.500000              15000.000000
25%                  3.500000              34000.000000
50%                  4.550000              48000.000000
75%                  5.600000              62250.000000
max                  6.500000              80000.000000

[8 rows x 22 columns]

Descriptive Statistics for Non-Numerical Columns Before Cleaning:
       applicant_info_id applicant_info_full_name applicant_info_first_name  \
count                502                      502                       502
unique               500                      475                        99
top              app_042             Susan Flores                     Susan
freq                   2                        3                        13

       applicant_info_last_name     applicant_info_email applicant_info_ssn  \
count                       502                      495                497
unique                       50                      493                494
top                       Lopez  joseph.lopez1@gmail.com        937-72-8731
freq                         15                        2                  2

       applicant_info_ip_address applicant_info_gender applicant_info_dob  \
count                        497                   499                497
unique                       496                     4                493
top               192.168.91.142                  Male         1980-09-19
freq                           2                   195                  2

       decision_rejection_reason decision_loan_purpose decision_notes  \
count                        210                    50              2
unique                         4                    10              2
top         algorithm_risk_score               medical   RESUBMISSION
freq                         170                     8              1

        processing_timestamp
count                     62
unique                     4
top     2024-01-15T00:00:00Z
freq                      59

In [92]:
# Types of variables

numerical_variables = df.select_dtypes(include=[np.number]).columns.tolist()
print("\nNumerical Variables:", numerical_variables)

categorical_variables = df.select_dtypes(include=['object']).columns.tolist()
print("\nCategorical Variables:", categorical_variables)

Numerical Variables: ['applicant_info_zip_code', 'financials_annual_income', 'financials_credit_history_months', 'financials_debt_to_income', 'financials_savings_balance', 'spending_behavior_adult_entertainment', 'spending_behavior_alcohol', 'spending_behavior_dining', 'spending_behavior_education', 'spending_behavior_entertainment', 'spending_behavior_fitness', 'spending_behavior_gambling', 'spending_behavior_groceries', 'spending_behavior_healthcare', 'spending_behavior_insurance', 'spending_behavior_rent', 'spending_behavior_shopping', 'spending_behavior_transportation', 'spending_behavior_travel', 'spending_behavior_utilities', 'decision_interest_rate', 'decision_approved_amount']

Categorical Variables: ['applicant_info_id', 'applicant_info_full_name', 'applicant_info_first_name', 'applicant_info_last_name', 'applicant_info_email', 'applicant_info_ssn', 'applicant_info_ip_address', 'applicant_info_gender', 'applicant_info_dob', 'decision_rejection_reason', 'decision_loan_purpose', 'decision_notes', 'processing_timestamp']

In [93]:
df_work = df.copy()

print((df_work == -1).sum().sort_values(ascending=False))

applicant_info_id                        0
applicant_info_full_name                 0
spending_behavior_gambling               0
spending_behavior_groceries              0
spending_behavior_healthcare             0
spending_behavior_insurance              0
spending_behavior_rent                   0
spending_behavior_shopping               0
spending_behavior_transportation         0
spending_behavior_travel                 0
spending_behavior_utilities              0
decision_loan_approved                   0
decision_rejection_reason                0
decision_interest_rate                   0
decision_approved_amount                 0
decision_loan_purpose                    0
decision_notes                           0
spending_behavior_fitness                0
spending_behavior_entertainment          0
spending_behavior_education              0
applicant_info_dob                       0
applicant_info_first_name                0
applicant_info_last_name                 0
applicant_info_email                     0
applicant_info_ssn                       0
applicant_info_ip_address                0
applicant_info_gender                    0
applicant_info_zip_code                  0
spending_behavior_dining                 0
financials_annual_income                 0
financials_credit_history_months         0
financials_debt_to_income                0
financials_savings_balance               0
spending_behavior_adult_entertainment    0
spending_behavior_alcohol                0
processing_timestamp                     0
dtype: int64

In [94]:
# Values equal to -1 in numerical columns and Ages registered superior to 120 are likely placeholders for missing data.
# We will replace them with NaN to facilitate proper handling of missing values during analysis and modeling.

df_work.replace(-1, np.nan, inplace=True)

missing_table = pd.DataFrame({
    "missing_count": df_work.isna().sum(),
    "missing_%": df_work.isna().mean() * 100
})

# Round percentage
missing_table["missing_%"] = missing_table["missing_%"].round(2)

# Sort by highest missing %
missing_table = missing_table.sort_values(by="missing_count", ascending=False)

missing_table

                                       missing_count  missing_%
decision_notes                                   500      99.60
spending_behavior_adult_entertainment            497      99.00
spending_behavior_gambling                       495      98.61
spending_behavior_alcohol                        491      97.81
decision_loan_purpose                            452      90.04
spending_behavior_shopping                       448      89.24
spending_behavior_rent                           443      88.25
spending_behavior_transportation                 441      87.85
processing_timestamp                             440      87.65
spending_behavior_education                      438      87.25
spending_behavior_groceries                      437      87.05
spending_behavior_dining                         436      86.85
spending_behavior_insurance                      434      86.45
spending_behavior_healthcare                     434      86.45
spending_behavior_fitness                        431      85.86
spending_behavior_entertainment                  430      85.66
spending_behavior_utilities                      426      84.86
spending_behavior_travel                         422      84.06
decision_rejection_reason                        292      58.17
decision_approved_amount                         210      41.83
decision_interest_rate                           210      41.83
applicant_info_email                               7       1.39
financials_annual_income                           5       1.00
applicant_info_dob                                 5       1.00
applicant_info_ip_address                          5       1.00
applicant_info_ssn                                 5       1.00
applicant_info_gender                              3       0.60
applicant_info_zip_code                            2       0.40
applicant_info_first_name                          0       0.00
applicant_info_last_name                           0       0.00
financials_savings_balance                         0       0.00
decision_loan_approved                             0       0.00
financials_debt_to_income                          0       0.00
financials_credit_history_months                   0       0.00
applicant_info_full_name                           0       0.00
applicant_info_id                                  0       0.00

## Cleaning

In [95]:
# ── Config ─────────────────────────────────────────────────────────────────────
INPUT_PATH  = '/Users/guill/Library/CloudStorage/OneDrive-NovaSBE/Cours Nova/' \
              'T3/Data Ecosystems and Governance/DG project/raw_credit_applications.csv'
OUTPUT_PATH = os.path.join(os.path.dirname(INPUT_PATH), 'cleaned_credit_applications.csv')

# ── Load ───────────────────────────────────────────────────────────────────────
df_work = pd.read_csv(INPUT_PATH, dtype={'applicant_info_zip_code': str})
print(f"Loaded {len(df_work)} rows × {len(df_work.columns)} columns")

issues_log = []  # track every change made

# ─────────────────────────────────────────────────────────────────────────────
# 1. DUPLICATES
# ─────────────────────────────────────────────────────────────────────────────

# Flag rows explicitly marked as duplicate in notes
duplicate_notes = df_work['decision_notes'].str.upper().str.contains('DUPLICATE', na=False)
df_work = df_work[~duplicate_notes]
issues_log.append(f"[Duplicates] Removed {duplicate_notes.sum()} rows flagged as DUPLICATE_ENTRY_ERROR in notes")

# Remove duplicate application IDs (keep first occurrence)
dup_ids = df_work['applicant_info_id'].duplicated(keep='first')
issues_log.append(f"[Duplicates] Removed {dup_ids.sum()} rows with duplicate applicant_info_id")
df_work = df_work[~dup_ids]

# Remove duplicate SSNs (keep first occurrence)
dup_ssns = df_work['applicant_info_ssn'].notna() & df_work['applicant_info_ssn'].duplicated(keep='first')
issues_log.append(f"[Duplicates] Removed {dup_ssns.sum()} rows with duplicate SSN")
df_work = df_work[~dup_ssns]

df_work = df_work.reset_index(drop=True)

# ─────────────────────────────────────────────────────────────────────────────
# 2. GENDER — standardize to Male / Female
# ─────────────────────────────────────────────────────────────────────────────
gender_map = {'M': 'Male', 'F': 'Female'}
before = df_work['applicant_info_gender'].value_counts(dropna=False).to_dict()
df_work['applicant_info_gender'] = df_work['applicant_info_gender'].replace(gender_map)
after = df_work['applicant_info_gender'].value_counts(dropna=False).to_dict()
issues_log.append(f"[Gender] Standardized abbreviations — before: {before} | after: {after}")

# ─────────────────────────────────────────────────────────────────────────────
# 3. EMAIL — null out malformed addresses
# ─────────────────────────────────────────────────────────────────────────────
email_pattern = r'^[\w\.-]+@[\w\.-]+\.\w{2,}$'
invalid_mask = df_work['applicant_info_email'].notna() & \
              ~df_work['applicant_info_email'].str.match(email_pattern, na=False)
invalid_emails = df_work.loc[invalid_mask, 'applicant_info_email'].tolist()
df_work.loc[invalid_mask, 'applicant_info_email'] = np.nan
issues_log.append(f"[Email] Nulled {len(invalid_emails)} invalid addresses: {invalid_emails}")

# ─────────────────────────────────────────────────────────────────────────────
# 4. PII — hash SSN and IP address (SHA-256, one-way)
# ─────────────────────────────────────────────────────────────────────────────
def hash_pii(value):
    if pd.isna(value):
        return np.nan
    return hashlib.sha256(str(value).encode()).hexdigest()

df_work['applicant_info_ssn']        = df_work['applicant_info_ssn'].apply(hash_pii)
df_work['applicant_info_ip_address'] = df_work['applicant_info_ip_address'].apply(hash_pii)
issues_log.append("[PII] SHA-256 hashed applicant_info_ssn and applicant_info_ip_address")

# ─────────────────────────────────────────────────────────────────────────────
# 5. ZIP CODE — clean and zero-pad to 5 digits
# ─────────────────────────────────────────────────────────────────────────────
df_work['applicant_info_zip_code'] = (
    df_work['applicant_info_zip_code']
    .str.replace(r'\.0$', '', regex=True)   # remove trailing .0 if read as float
    .str.strip()
    .str.zfill(5)                            # zero-pad to 5 digits
)
df_work['applicant_info_zip_code'] = df_work['applicant_info_zip_code'].replace('00nan', np.nan)
issues_log.append("[Zip Code] Converted to zero-padded 5-digit string")

# ─────────────────────────────────────────────────────────────────────────────
# 6. DATE OF BIRTH — parse and validate (must be a real date, age 18–100)
# ─────────────────────────────────────────────────────────────────────────────
# Normalize separators: replace '/' with '-' so all dates follow YYYY-MM-DD
df_work['applicant_info_dob'] = df_work['applicant_info_dob'].str.replace('/', '-', regex=False)

df_work['applicant_info_dob'] = pd.to_datetime(df_work['applicant_info_dob'], errors='coerce')

today = pd.Timestamp.today()
age = (today - df_work['applicant_info_dob']).dt.days / 365.25
invalid_age_mask = df_work['applicant_info_dob'].notna() & ((age < 18) | (age > 100))
issues_log.append(f"[DOB] Nulled {invalid_age_mask.sum()} rows with unrealistic age (outside 18–100)")
df_work.loc[invalid_age_mask, 'applicant_info_dob'] = np.nan
df_work['applicant_info_dob'] = df_work['applicant_info_dob'].dt.strftime('%Y-%m-%d')

# ─────────────────────────────────────────────────────────────────────────────
# 7. ANNUAL INCOME — flag zero income as suspicious
# ─────────────────────────────────────────────────────────────────────────────
# Round to nearest integer (no cents on an annual income)
df_work['financials_annual_income'] = df_work['financials_annual_income'].round(0).astype('Int64')

zero_income = df_work['financials_annual_income'] == 0
issues_log.append(f"[Income] Flagged {zero_income.sum()} rows with annual_income = 0")
df_work['financials_annual_income_flagged'] = zero_income
df_work.loc[zero_income, 'financials_annual_income'] = np.nan

# ─────────────────────────────────────────────────────────────────────────────
# 8. CREDIT HISTORY MONTHS — null out negative values
# ─────────────────────────────────────────────────────────────────────────────
negative_history_mask = df_work['financials_credit_history_months'] < 0
issues_log.append(f"[Credit History] Nulled {negative_history_mask.sum()} rows with negative credit_history_months: "
                  f"{df_work.loc[negative_history_mask, 'financials_credit_history_months'].tolist()}")
df_work.loc[negative_history_mask, 'financials_credit_history_months'] = pd.NA

# Cast to nullable integer to support NaN alongside integers
df_work['financials_credit_history_months'] = df_work['financials_credit_history_months'].astype('Int64')

# ─────────────────────────────────────────────────────────────────────────────
# 9. DEBT-TO-INCOME — flag and null values above 1.0 (economically impossible)
# ─────────────────────────────────────────────────────────────────────────────
dti_mask = df_work['financials_debt_to_income'] > 1.0
issues_log.append(f"[DTI] Nulled {dti_mask.sum()} rows with debt_to_income > 1.0: "
                  f"{df_work.loc[dti_mask, 'financials_debt_to_income'].tolist()}")
df_work.loc[dti_mask, 'financials_debt_to_income'] = np.nan

# ─────────────────────────────────────────────────────────────────────────────
# 10. SAVINGS BALANCE — null negatives, flag statistical outliers
# ─────────────────────────────────────────────────────────────────────────────

# Null negative values
negative_savings_mask = df_work['financials_savings_balance'] < 0
issues_log.append(f"[Savings] Nulled {negative_savings_mask.sum()} rows with negative savings_balance: "
                  f"{df_work.loc[negative_savings_mask, 'financials_savings_balance'].tolist()}")
df_work.loc[negative_savings_mask, 'financials_savings_balance'] = pd.NA

# Flag statistical outliers using IQR method (3x IQR threshold)
Q1 = df_work['financials_savings_balance'].quantile(0.25)
Q3 = df_work['financials_savings_balance'].quantile(0.75)
IQR = Q3 - Q1
outlier_mask = df_work['financials_savings_balance'] > Q3 + 3 * IQR
issues_log.append(f"[Savings] Flagged {outlier_mask.sum()} rows as savings_balance outliers "
                  f"(threshold: > {Q3 + 3 * IQR:,.0f}): "
                  f"{df_work.loc[outlier_mask, 'financials_savings_balance'].tolist()}")
df_work['financials_savings_balance_flagged'] = outlier_mask

# Cast to nullable integer
df_work['financials_savings_balance'] = df_work['financials_savings_balance'].astype('Int64')

# ─────────────────────────────────────────────────────────────────────────────
# 11. SPENDING BEHAVIOR — fill NaN with 0 (no spend in that category)
# ─────────────────────────────────────────────────────────────────────────────
spending_cols = [c for c in df_work.columns if c.startswith('spending_behavior_')]
df_work[spending_cols] = df_work[spending_cols].fillna(0).astype(int)
issues_log.append(f"[Spending] Filled NaN with 0 across {len(spending_cols)} spending columns")

# ─────────────────────────────────────────────────────────────────────────────
# 12. PROCESSING TIMESTAMP — parse, flag future dates
# ─────────────────────────────────────────────────────────────────────────────
df_work['processing_timestamp'] = pd.to_datetime(df_work['processing_timestamp'], errors='coerce', utc=True)
future_mask = df_work['processing_timestamp'].notna() & (df_work['processing_timestamp'] > pd.Timestamp.now(tz='UTC'))
issues_log.append(f"[Timestamp] Flagged {future_mask.sum()} rows with future processing_timestamp")
df_work['processing_timestamp_flagged'] = future_mask
df_work['processing_timestamp'] = df_work['processing_timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')


# ─────────────────────────────────────────────────────────────────────────────
# 13. DECISION — fill NaNs with meaningful values based on loan outcome
# ─────────────────────────────────────────────────────────────────────────────

# rejection_reason is N/A when loan was approved
df_work['decision_rejection_reason'] = df_work['decision_rejection_reason'].where(
    df_work['decision_rejection_reason'].notna(),
    other=df_work['decision_loan_approved'].map({True: 'N/A - Approved', False: 'Unknown'})
)

# interest_rate and approved_amount are N/A when loan was rejected
df_work['decision_interest_rate'] = df_work['decision_interest_rate'].where(
    df_work['decision_interest_rate'].notna(),
    other=df_work['decision_loan_approved'].map({True: 'Unknown', False: 'N/A - Rejected'})
)
df_work['decision_approved_amount'] = df_work['decision_approved_amount'].where(
    df_work['decision_approved_amount'].notna(),
    other=df_work['decision_loan_approved'].map({True: 'Unknown', False: 'N/A - Rejected'})
)

# loan_purpose — genuinely optional, fill with 'Not Specified'
df_work['decision_loan_purpose'] = df_work['decision_loan_purpose'].fillna('Not Specified')

issues_log.append("[Decision] Filled NaNs with context-aware labels based on loan_approved status")

# ─────────────────────────────────────────────────────────────────────────────
# 14. DROP low-value columns
# ─────────────────────────────────────────────────────────────────────────────
df = df_work.drop(columns=['decision_notes'])   # 500/502 were null, remaining 2 already actioned above
issues_log.append("[Cleanup] Dropped decision_notes column (99.6% null, content already actioned)")

# ─────────────────────────────────────────────────────────────────────────────
# 15. ENFORCE SCHEMA TYPES
# ─────────────────────────────────────────────────────────────────────────────

# --- Strings (all applicant_info fields should be str, not float) -------------
string_cols = [
    'applicant_info_id', 'applicant_info_full_name', 'applicant_info_first_name',
    'applicant_info_last_name', 'applicant_info_email', 'applicant_info_ssn',
    'applicant_info_ip_address', 'applicant_info_gender', 'applicant_info_dob',
    'applicant_info_zip_code',                    # was float64 → must be string
    'decision_rejection_reason', 'decision_loan_purpose'
]
for col in string_cols:
    df_work[col] = df_work[col].astype(str).replace({'nan': np.nan, 'None': np.nan})

# --- Integer (schema defines these as Integer) --------------------------------
int_cols = [
    'financials_credit_history_months',           # Integer per schema
    'financials_savings_balance',                 # Number but whole units
]
for col in int_cols:
    df_work[col] = pd.to_numeric(df_work[col], errors='coerce').astype('Int64')  # nullable int

# --- Float (Number in schema) -------------------------------------------------
float_cols = [
    'financials_annual_income',
    'financials_debt_to_income',
    'decision_interest_rate',
    'decision_approved_amount',
]
for col in float_cols:
    df_work[col] = pd.to_numeric(df_work[col], errors='coerce').astype(float)

# --- Boolean ------------------------------------------------------------------
df_work['decision_loan_approved'] = df_work['decision_loan_approved'].astype(bool)

issues_log.append("[Schema] Enforced correct dtypes across all columns per schema definition")

Loaded 502 rows × 36 columns

## Export the clean Dataset

In [96]:
# ─────────────────────────────────────────────────────────────────────────────
# EXPORT
# ─────────────────────────────────────────────────────────────────────────────
df_work.to_csv(OUTPUT_PATH, index=False, encoding='utf-8-sig')

print(f"\n✓ Cleaned dataset saved: {len(df_work)} rows × {len(df_work.columns)} columns")
print(f"  → {OUTPUT_PATH}")
print("\n─── Issues Log ───────────────────────────────────────────────────────")
for entry in issues_log:
    print(" •", entry)

✓ Cleaned dataset saved: 498 rows × 39 columns
  → /Users/guill/Library/CloudStorage/OneDrive-NovaSBE/Cours Nova/T3/Data Ecosystems and Governance/DG project/cleaned_credit_applications.csv

─── Issues Log ───────────────────────────────────────────────────────
 • [Duplicates] Removed 1 rows flagged as DUPLICATE_ENTRY_ERROR in notes
 • [Duplicates] Removed 1 rows with duplicate applicant_info_id
 • [Duplicates] Removed 2 rows with duplicate SSN
 • [Gender] Standardized abbreviations — before: {'Male': 193, 'Female': 193, 'F': 58, 'M': 52, nan: 2} | after: {'Female': 251, 'Male': 245, nan: 2}
 • [Email] Nulled 4 invalid addresses: ['mike johnson@gmail.com', 'test.user.outlook.com', 'john.doe@invalid', 'sarah.smith@']
 • [PII] SHA-256 hashed applicant_info_ssn and applicant_info_ip_address
 • [Zip Code] Converted to zero-padded 5-digit string
 • [DOB] Nulled 0 rows with unrealistic age (outside 18–100)
 • [Income] Flagged 1 rows with annual_income = 0
 • [Credit History] Nulled 2 rows with negative credit_history_months: [-10, -3]
 • [DTI] Nulled 1 rows with debt_to_income > 1.0: [1.85]
 • [Savings] Nulled 1 rows with negative savings_balance: [-5000]
 • [Savings] Flagged 0 rows as savings_balance outliers (threshold: > 100,392): []
 • [Spending] Filled NaN with 0 across 15 spending columns
 • [Timestamp] Flagged 2 rows with future processing_timestamp
 • [Decision] Filled NaNs with context-aware labels based on loan_approved status
 • [Cleanup] Dropped decision_notes column (99.6% null, content already actioned)
 • [Schema] Enforced correct dtypes across all columns per schema definition

In [97]:
print("\nDescriptive Statistics for Numerical Columns after cleaning:")
print(df_work.describe())

print("\nDescriptive Statistics for Non-Numerical Columns after cleaning:")
print(df_work.describe(include='object'))

Descriptive Statistics for Numerical Columns after cleaning:
       financials_annual_income  financials_credit_history_months  \
count                492.000000                             496.0
mean               82752.912602                         50.612903
std                27910.968499                         31.188889
min                22000.000000                               0.0
25%                63000.000000                             27.75
50%                81000.000000                              48.5
75%               101000.000000                              72.0
max               171000.000000                             133.0

       financials_debt_to_income  financials_savings_balance  \
count                 497.000000                       497.0
mean                    0.241932                29516.022133
std                     0.115793                16522.124074
min                     0.050000                         0.0
25%                     0.150000                     17420.0
50%                     0.230000                     27397.0
75%                     0.340000                     38163.0
max                     0.450000                     88078.0

       spending_behavior_adult_entertainment  spending_behavior_alcohol  \
count                             498.000000                 498.000000
mean                                5.935743                  10.538153
std                                61.692949                  76.882750
min                                 0.000000                   0.000000
25%                                 0.000000                   0.000000
50%                                 0.000000                   0.000000
75%                                 0.000000                   0.000000
max                               848.000000                 757.000000

       spending_behavior_dining  spending_behavior_education  \
count                498.000000                   498.000000
mean                  61.718876                    64.212851
std                  181.060072                   190.549557
min                    0.000000                     0.000000
25%                    0.000000                     0.000000
50%                    0.000000                     0.000000
75%                    0.000000                     0.000000
max                  897.000000                   889.000000

       spending_behavior_entertainment  spending_behavior_fitness  ...  \
count                       498.000000                 498.000000  ...
mean                         71.712851                  63.767068  ...
std                         196.869555                 180.391308  ...
min                           0.000000                   0.000000  ...
25%                           0.000000                   0.000000  ...
50%                           0.000000                   0.000000  ...
75%                           0.000000                   0.000000  ...
max                         883.000000                 894.000000  ...

       spending_behavior_groceries  spending_behavior_healthcare  \
count                   498.000000                    498.000000
mean                     62.696787                     61.632530
std                     185.149802                    180.347673
min                       0.000000                      0.000000
25%                       0.000000                      0.000000
50%                       0.000000                      0.000000
75%                       0.000000                      0.000000
max                     885.000000                    897.000000

       spending_behavior_insurance  spending_behavior_rent  \
count                   498.000000              498.000000
mean                     63.246988               62.028112
std                     182.213125              187.704741
min                       0.000000                0.000000
25%                       0.000000                0.000000
50%                       0.000000                0.000000
75%                       0.000000                0.000000
max                     890.000000              897.000000

       spending_behavior_shopping  spending_behavior_transportation  \
count                  498.000000                        498.000000
mean                    49.485944                         53.777108
std                    161.403717                        166.708786
min                      0.000000                          0.000000
25%                      0.000000                          0.000000
50%                      0.000000                          0.000000
75%                      0.000000                          0.000000
max                    887.000000                        899.000000

       spending_behavior_travel  spending_behavior_utilities  \
count                498.000000                   498.000000
mean                  79.261044                    76.092369
std                  207.126309                   203.378980
min                    0.000000                     0.000000
25%                    0.000000                     0.000000
50%                    0.000000                     0.000000
75%                    0.000000                     0.000000
max                  888.000000                   881.000000

       decision_interest_rate  decision_approved_amount
count              292.000000                292.000000
mean                 4.564726              47845.890411
std                  1.162866              18103.754530
min                  2.500000              15000.000000
25%                  3.500000              34000.000000
50%                  4.550000              48000.000000
75%                  5.600000              62250.000000
max                  6.500000              80000.000000

[8 rows x 21 columns]

Descriptive Statistics for Non-Numerical Columns after cleaning:
       applicant_info_id applicant_info_full_name applicant_info_first_name  \
count                498                      498                       498
unique               498                      473                        99
top              app_200             Susan Flores                     Susan
freq                   1                        3                        13

       applicant_info_last_name       applicant_info_email  \
count                       498                        487
unique                       50                        487
top                   Rodriguez  jerry.smith17@hotmail.com
freq                         14                          1

                                       applicant_info_ssn  \
count                                                 494
unique                                                494
top     2caf30528c21a10e1307b27f9dbbfc312f0c00d46b333e...
freq                                                    1

                                applicant_info_ip_address  \
count                                                 494
unique                                                494
top     afb811b70bdc95ef34b9d872ee8a83a19525df6246d250...
freq                                                    1

       applicant_info_gender applicant_info_dob applicant_info_zip_code  \
count                    496                393                     497
unique                     2                388                     195
top                   Female         1979-05-02                   10048
freq                     251                  2                       8

       decision_rejection_reason decision_loan_purpose decision_notes  \
count                        498                   498              0
unique                         5                    11              0
top               N/A - Approved         Not Specified            NaN
freq                         292                   449            NaN

       processing_timestamp
count                    62
unique                    4
top     2024-01-15 00:00:00
freq                     59

In [98]:
# Types of variables

numerical_variables = df_work.select_dtypes(include=[np.number]).columns.tolist()
print("\nNumerical Variables:", numerical_variables)

categorical_variables = df_work.select_dtypes(include=['object']).columns.tolist()
print("\nCategorical Variables:", categorical_variables)

Numerical Variables: ['financials_annual_income', 'financials_credit_history_months', 'financials_debt_to_income', 'financials_savings_balance', 'spending_behavior_adult_entertainment', 'spending_behavior_alcohol', 'spending_behavior_dining', 'spending_behavior_education', 'spending_behavior_entertainment', 'spending_behavior_fitness', 'spending_behavior_gambling', 'spending_behavior_groceries', 'spending_behavior_healthcare', 'spending_behavior_insurance', 'spending_behavior_rent', 'spending_behavior_shopping', 'spending_behavior_transportation', 'spending_behavior_travel', 'spending_behavior_utilities', 'decision_interest_rate', 'decision_approved_amount']

Categorical Variables: ['applicant_info_id', 'applicant_info_full_name', 'applicant_info_first_name', 'applicant_info_last_name', 'applicant_info_email', 'applicant_info_ssn', 'applicant_info_ip_address', 'applicant_info_gender', 'applicant_info_dob', 'applicant_info_zip_code', 'decision_rejection_reason', 'decision_loan_purpose', 'decision_notes', 'processing_timestamp']